/* {
    border: 1px solid #999;
}*/

body {
    width: 1240px;
    margin: 0 auto;
    color: #2d2d2d;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    background-color: #DEDEDE;
}

ol, ul {
	list-style: none;
}

.container {
    background-color: #FFF;
    height: 100%;
    width: 1240px;
}

/* --------------- Header --------------- */

header {
    height: 70px;
    padding: 15px 30px;
}

.header .logo {
    display: inline;
    max-height: 60px;
    float: left;
}

.header .navigation {
    display: inline;
    margin: 0 auto;
    left 50%;
}

.header ul {
    display: inline-block;
    text-transform: uppercase;
    word-spacing: 2em;
}

.header ul li {
    display: inline-block;
}

.header li a {
    text-decoration: none;
    color: #e2574c;
}

.header ul a:hover {
    color: #555;
    cursor: pointer;
}

.header .cart {
    max-height: 60px;
    display: inline-block;
    float: right;
}

/* --------------- Hero --------------- */

/*.hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0 ,0.5), rgba(200,200,200,0.5)), url('../images/flower-bkgd.jpg'), url('../images/banner-girl.png'), repeat-x center top;
    background-size: 80%;
    
}*/

.hero {
    clear: both;
    height: 550px;
    width: 100%;
    background:
      linear-gradient(to bottom, rgba(0, 0, 0 ,0.3), rgba(100,100,100,0.3)),
      url('../images/banner-girl.png') center bottom no-repeat,
      url('../images/flower-bkgd.jpg') center top repeat-x;
    background-size: auto, 250px, 850px;
    background-position:
      left 0 top 0,
      left 50% bottom -120px,
      left 0 top 0;
    position: relative;
}

.hero p {
    color: #FFF;
    position: absolute;
    left: 0;
    top: 36%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.hero p .hero-heading {
    font-family: "Playfair Display", serif;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
}

/* --------------- Main --------------- */

h1, h2, h4 {
    font-family: "Playfair Display", serif;
    text-align: center;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

p, ul {
    text-align: center;
}

/* --------------- Footer --------------- */

footer {
    background-color: #242424;
    display: block;
    height: 150px;
    color: #FFF;
    padding: 50px 90px 50px 50px;
}

footer .copyright {
    margin: 0 auto;
    text-align: left;
    float: left;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.copyright .address {
    color: #969696;
}

footer .copyright a {
    color: #FFF;
}

footer .social {
    text-align: left;
    float: right;
    font-weight: 300;
    line-height: 1.75em;
}

td {
    padding: 0 7px 0 0;
}