img {
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  min-width: 320px;
}

h2 {
  font-family: "playfair_display", serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.heading-italic {
  font-family: "playfair_display", serif;
  font-style: italic;
  font-weight: normal;
}


.main-header {
  background-color: #FFF;
  box-shadow: 0 2px 2px rgba(61, 61, 61 ,0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.25rem 1.25rem 0.5rem; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  align-self: center;
  cursor: pointer;
  max-width: 120px;
}

.cart {
  align-self: center;
  cursor: pointer;
  max-width: 50px;
  position: relative;
}

.itemCount {
  background-color: #e2574c;
  border: 0;
  border-radius: 20px; 
  color: #FFF;
  display: none;
  font-family: Arial, sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  height: 20px;
  left: 35px;
  line-height: 1.3rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

.navigation {
  align-self: center;
  flex: 1 0 auto;
  font-weight: bold;
  width: 69.7%;
}

.navigation ul {
  border-top: 1px solid #d7d7d7;
  padding-top: 0.4rem;
  text-align: center;
}

.navigation li {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.5rem;
  text-transform: uppercase;
}

.navigation a {
  color: #e2574c;
  text-decoration: none;
}

.navigation a:hover {
  color: #b64036;
}

.spacer {
  height: 90px;
  width: 100%;
}

.hero {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0 ,0.3), rgba(100,100,100,0.3)),
    url('../images/banner-girl.png') center no-repeat,
    url('../images/flower-bkgd.jpg') top repeat-x;
  background-position:
    left 0 top 0,
    left 50% bottom -120px,
    left 0 top 0;
  background-size: auto, 200px, cover;
  height: 420px;
  position: relative;
  width: 100%;
}

.hero-text {
  color: #FFF;
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 2px #3d3d3d;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.hero-subheading {
  font-size: 1.25rem;
  margin-bottom: 0.5rem; 
}

.hero-heading {
  font-family: "playfair_display", serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2.5rem;
  text-transform: capitalize;
}


.hand-crafted {
  margin: 3rem auto;
  text-align: center;
  width: 90%;
}


.category {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.category-text {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 2px #3d3d3d;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
}

a:hover {
  color: #f5ecc4;
  cursor: pointer;
}

.rectangle {
  border: 3px solid #FFF;
  border-left: 0;
  border-right: 0;
  flex: 2 0 100%;
  height: 50vw;
  position: relative;
  width: 100vw;
}

.square {
  border: 3px solid #FFF;
  flex: 1 0 50%;
  height: 50vw;
  position: relative;
  width: 50vw;
}

.mens {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0 ,0.2), rgba(100,100,100,0.2)),
    url("../images/mens-category.jpg") no-repeat;
  background-size: cover, cover;
}

.trends {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0 ,0.2), rgba(100,100,100,0.2)),
    url("../images/trends-category.jpg") no-repeat;
  background-size: cover, cover;
  border-left: 0;
}

.glasses {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0 ,0.2), rgba(100,100,100,0.2)),
    url("../images/glasses-category.jpg") no-repeat;
  background-size: cover, cover;
  border-right: 0;
}

.sale {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0 ,0.2), rgba(100,100,100,0.2)),
    url("../images/sale-category.jpg") no-repeat;
  background-size: cover, cover;
  border-left: 0;
}

.bags {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0 ,0.2), rgba(100,100,100,0.2)),
    url("../images/bags-category.jpg") no-repeat;
  background-size: cover, cover;
  border-right: 0;
}

.womens {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0 ,0.2), rgba(100,100,100,0.2)),
    url("../images/womens-category.jpg") no-repeat;
  background-size: cover, cover;
}


.products {
  padding: 2rem 0 3rem;
}

.carousel-cell {
  text-align: center;
  width: 100%;
}

.carousel-cell p {
  color: #969696;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.carousel-cell .price {
  font-size: 1rem;
}

.carousel-cell h3 {
  color: #e2574c;
  font-family: "playfair_display", serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0.25rem 0;
  text-align: center;
}

.carousel-cell button {
  background-color: #242424;
  border: 0;
  border-radius: 25px;
  color: #FFF;
  cursor: pointer;
  margin: 0.75rem 0 2rem;
  padding: 0.5rem 1rem;
}

.sign-up {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0 ,0.2), rgba(100,100,100,0.2)),
    url('../images/wave-bkgd.jpg') bottom no-repeat;
  color: #FFF;
  margin-bottom: 5px;
  padding: 3rem 0;
  text-align: center;
  text-shadow: 2px 2px 2px #3d3d3d;
  width: 100%;
}

.sign-up-heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.sign-up-text {
  line-height: 2rem;
  margin: 0 auto;
  width: 90%;
}

.sign-up form {
  margin: 2rem auto 0;
  position: relative;
  width: 80%;
}

input {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}


input[type="email"] {
  border: 0;
  border-radius: 25px;
  padding: 0.95rem 1.5rem;
  width: 100%;
}

input[type="submit"] {
  background-color: #e2574c;
  border: 0;
  border-radius: 25px;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  padding: 0.7rem 1.5rem;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}

input[type="submit"]:hover {
  background-color: #b64036;
}


footer {
  background-color: #242424;
  color: #FFF;
  font-family: "playfair_display", serif;
  line-height: 1.5rem;
  padding: 3rem;
  text-align: center;
}

.copyright {
  margin-bottom: 1rem;
}

.contacts, a {
  color: #FFF;
  margin-bottom: 1rem;
}

.address {
  color: #969696;
}

.social {
  font-family: "Raleway", sans-serif;
  margin-top: 2rem;
}

.social li {
  display: inline-block;
  line-height: 1.75em;
  margin: 0 0.5rem;
}

.social a {
  text-decoration: none;
}

.social li a:hover {
  color: #e2574c;
}

.social-text {
  display: none;
}

@media screen and (min-width: 600px) {

  body {
    font-size: 16px;
  }

  h2 {
    font-size: 2.5rem;
  }

  .logo {
    order: 1;
  }

  .cart {
    order: 3;
  }

  .navigation {
    order: 2;
    width: 69%;
  }

  .navigation ul {
    border-top: 0;
    padding-top: 0;
  }

  .navigation li {
    margin: 0 0.75rem;
  }

  .hero-heading {
    font-size: 3rem;
    line-height: 3rem;
  }

  .rectangle {
    border: 3px solid #FFF;
    flex: 2 0 50%;
    height: 25vw;
    width: 50vw;
  }

  .square {
    border: 3px solid #FFF;
    flex: 1 0 25%;
    height: 25vw;
    width: 25vw;
  }

  .mens {
    border-left: 0;
  }

  .glasses {
    border-right: 0;
  }

  .sale {
    border-left: 0;
  }

  .womens {
    border-right: 0;
  }

  .category-text {
    font-size: 1.25rem;
  }

  .carousel-cell {
    width: 50%;
  }

  .carousel-cell h3 {
    font-size: 1.5rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 2rem 1.25rem;
    text-align: left;
  }

  .contacts {
    margin-top: 1rem;
  }

  .social {
    margin-top: 0;
  }

  .social li {
    display: block;
    line-height: 1.9rem;
    margin: 0;
    text-align: left;
  }

  .social li i {
    text-align: left;
  }

    .social-text {
    display: initial;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1240px) {

  .main-header {
    padding: 1rem 10rem;
  }

  .logo {
    max-width: 150px;
  }

  .cart {
    max-width: 60px;
  }

  .itemCount {
    left: 40px;
  }

  .navigation li {
    font-size: 1.25rem;
    margin: 0 1rem;
  }

  .hero {
    background-size: auto, 270px, cover;
    height: 600px;
  }

  .hero-subheading {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .hero-heading {
    font-size: 5rem;
  }

  .hand-crafted {
    font-size: 1.2rem;
    margin: 3rem auto;
    width: 50%;
  }

  .category-text {
    font-size: 2rem;
  }

  .carousel-cell {
    width: 25%;
  }

  .flickity-page-dots {
    display: none;
  }

  .sign-up-heading {
    margin-bottom: 2rem;
  }

  .sign-up-text {
    font-size: 1.2rem;
    margin: 0 auto;
    width: 50%;
  }

  .sign-up form {
    width: 40%;
  }

  footer {
    padding: 3rem 10rem;
  }

  .social {
    display: block;
  }

  .social-text {
    display: initial;
  }
}
