/* --------------- Reset --------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------- Fonts --------------- */

@font-face {
    font-family: 'playfair_display';
    src: url('playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'playfair_display';
    src: url('playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('playfairdisplay-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'playfair_display';
    src: url('playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('playfairdisplay-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'playfair_display';
    src: url('playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('raleway-light-webfont.woff2') format('woff2'),
         url('raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('raleway-lightitalic-webfont.woff2') format('woff2'),
         url('raleway-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'raleway';
    src: url('raleway-medium-webfont.woff2') format('woff2'),
         url('raleway-medium-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('raleway-mediumitalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}


body {
  color: #2d2d2d;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
}

/* --------------- Header --------------- */

header {
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  align-self: flex-start;
  cursor: pointer;
  max-width: 150px;
}

.cart {
  align-self: flex-end;
  cursor: pointer;
  max-width: 60px;
}

.navigation {
  align-self: center;
  flex: 1 0 auto;
}

.navigation ul {
  border-top: 1px solid #969696;
  padding-top: 1rem;
  text-align: center;
}

.navigation li {
  cursor: pointer;
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
}

.navigation a {
  text-decoration: none;
  color: #e2574c;
}

.navigation a:hover {
  color: #555;
}


/* --------------- Hero --------------- */

.hero {
    height: 550px;
    width: 100%;
    background:
      linear-gradient(to bottom, rgba(0, 0, 0 ,0.3), rgba(100,100,100,0.3)),
      url('../images/banner-girl.png') center bottom no-repeat,
      url('../images/flower-bkgd.jpg') center top repeat-x;
    background-size: auto, 250px, 850px;
    background-position:
      left 0 top 0,
      left 50% bottom -120px,
      left 0 top 0;
    position: relative;
    text-shadow: 2px 2px 2px #3d3d3d;
}

.hero p {
    color: #FFF;
    position: absolute;
    left: 0;
    top: 36%;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
}

.hero-heading {
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
}

/* --------------- Main --------------- */

h2 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    text-align: center;
}

.heading-italic {
    font-style: italic;
    font-weight: normal;
}

/* --------------- Products --------------- */

h3 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #e2574c;
}

p, ul {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
}

/* --------------- Hand-crafted --------------- */

.hand-crafted {
    margin: 5% 0;
    padding: 0 25%;
    line-height: 2rem;
}

/* --------------- Categories --------------- */

.category a {
    display: flex;
    flex-wrap: wrap;
    color: #FFF;
    text-shadow: 2px 2px 2px #3d3d3d;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    align-content: center;
}

.rectangle {
    flex: 2 0 100%;
    width: 600px;
    height: 300px;
}

.square {
    flex: 1 0 100%;
    width: 300px;
    height: 300px;
}

.mens {
    background: url("../images/mens-category.jpg") no-repeat center center;
    background-size: contain;
}

.trends {
    background: url("../images/trends-category.jpg") no-repeat center center;
    background-size: contain;
}

.glasses {
    background: url("../images/glasses-category.jpg") no-repeat center center;
    background-size: contain;
}

.sale {
    background: url("../images/sale-category.jpg") no-repeat center center;
    background-size: contain;
}

.bags {
    background: url("../images/bags-category.jpg") no-repeat center center;
    background-size: contain;
}

.womens {
    background: url("../images/womens-category.jpg") no-repeat center center;
    background-size: contain;
}

/* --------------- Sign-Up --------------- */

.sign-up {
    height: 400px;
    width: 100%;
    background:
      linear-gradient(to bottom, rgba(0, 0, 0 ,0.2), rgba(100,100,100,0.2)),
      url('../images/wave-bkgd.jpg') center bottom no-repeat;
    background-size: 115%;
    background-position: bottom;
    color: #FFF;
    text-shadow: 2px 2px 2px #3d3d3d;
    text-align: center;
    position: relative;
    margin-bottom: 5px;
}

.sign-up-heading {
    font-size: 2.5rem;
}

.sign-up-text {
    line-height: 2rem;
    position: relative;
}

.sign-up form {
    margin: 0 auto;
    position: relative;
    width: 35%;
    padding-top: 10px;
}

input {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}


input[type="email"] {
    padding: 15px;
    width: 100%;
    border: 0;
    border-radius: 25px;
}

input[type="submit"] {
    background-color: #e2574c;
    color: #FFF;
    font-weight: 400;
    padding: 11px 25px;
    position: absolute;
    border: 0;
    border-radius: 25px;
    right: -25px;
    top: 14px;
    cursor: pointer;
}

/* --------------- Footer --------------- */

footer {
    background-color: #242424;
    height: 150px;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}

footer .copyright {
    text-align: left;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    font-weight: 400;
    align-self: flex-start;
    margin: 0;
}

.copyright .address {
    color: #969696;
}

footer .copyright a {
    color: #FFF;
}

footer .social {
    text-align: left;
    font-weight: 300;
    line-height: 1.75em;
    align-self: flex-end;
}

td {
    padding: 0 7px 0 0;
}

@media screen and (min-width: 600px) {
    
}